<a href="https://colab.research.google.com/github/shanajdudekula/GEN-AI/blob/main/Copy_of_INDRODUCTORY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math
n=int(input())
print(math.sqrt(n))

16
4.0

In [ ]:
a=int(input())
b=int(input())
temp=a
a=b
b=temp
print(a)
print(b)

1
2
2
1

In [ ]:
n=int(input())
if n>0 :
  print("positive")
if n<0 :
  print("negative")
if n==0 :
  print("zero")

3
positive

In [ ]:
n=int(input())
if n%2==0 :
  print("even")
else :
  print("odd")

4
even

In [ ]:
n = int(input())
f = 1
for i in range(1, n + 1):
  f = f* i
print(f)

4
24

In [ ]:
import pandas as pd
data={ 'Name': ['Raje','Lali','Vali'],
       'Age' : [25,23,27],
       'city':['hyd','bnglr','mumbai']}
df=pd.DataFrame(data)
print(df)

   Name  Age    city
0  Raje   25     hyd
1  Lali   23   bnglr
2  Vali   27  mumbai